/* Write your CSS here */
.appont-container {
  width: 230px;
  border: 2px solid #b5b7c4;
  height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.chota-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 5px; */
}
.image-star {
  height: 25px;
  width: 25px;
  margin-top: 10px;
}
.heading-text {
  font-family: 'Roboto';
  font-size: 20px;
}
.list-item {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
.button-star {
  background-color: transparent;
  border: 0;
}
